<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Age</th>
      <th scope="col">Team</th>
      <th scope="col">Position</th>
    </tr>
  </thead>
  <tbody>
    {{#profiles}}
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
    </tr>
    {{/profiles}}
  </tbody>
</table>